node-red/flows.json
[{"id":"d09c60fb.1de","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2e333d69.571f22","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true},{"id":"224981c8.557ace","type":"join-config","z":"","name":"Config"},{"id":"f68b7e6f.854be","type":"api-call-service","z":"d09c60fb.1de","name":"Bathroom Floor Heating - Turn On","server":"2e333d69.571f22","service_domain":"switch","service":"turn_on","data":"{   \"entity_id\": \"switch.zooz_unknown_type2500_id2500_switch_7\" }","mergecontext":"","x":672,"y":352,"wires":[[]]},{"id":"acd2206b.01536","type":"bigtimer","z":"d09c60fb.1de","outtopic":"","outpayload1":"","outpayload2":"","name":"Sunset","lat":"47.662831","lon":"-122.128615","starttime":"5004","endtime":"5003","startoff":"0","endoff":"0","offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":144,"y":122,"wires":[[],[],["67f96d2e.9314c4"]]},{"id":"67f96d2e.9314c4","type":"switch","z":"d09c60fb.1de","name":"set/rise?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":322,"y":120,"wires":[["86223e4a.fe3eb"],["aeaa8de8.69d82"]]},{"id":"4527f5a4.4dd77c","type":"api-call-service","z":"d09c60fb.1de","name":"Bathroom Floor Heating - Turn Off","server":"2e333d69.571f22","service_domain":"switch","service":"turn_off","data":"{   \"entity_id\": \"switch.zooz_unknown_type2500_id2500_switch_7\" }","mergecontext":"","x":673,"y":398,"wires":[[]]},{"id":"86223e4a.fe3eb","type":"api-call-service","z":"d09c60fb.1de","name":"Front Door Light Switch - Turn On","server":"2e333d69.571f22","service_domain":"switch","service":"turn_on","data":"{   \"entity_id\": \"switch.inovelli_nzw30s_onoff_switchscene_switch\" }","mergecontext":"","x":633,"y":81,"wires":[[]]},{"id":"aeaa8de8.69d82","type":"api-call-service","z":"d09c60fb.1de","name":"Front Door Light Switch - Turn Off","server":"2e333d69.571f22","service_domain":"switch","service":"turn_off","data":"{   \"entity_id\": \"switch.inovelli_nzw30s_onoff_switchscene_switch\" }","mergecontext":"","x":638,"y":149,"wires":[[]]},{"id":"d9a430ea.539ce","type":"bigtimer","z":"d09c60fb.1de","outtopic":"","outpayload1":"","outpayload2":"","name":"Morning (Weekend)","lat":"47.662831","lon":"-122.128615","starttime":"420","endtime":"600","startoff":0,"endoff":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":false,"jul":false,"aug":false,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":151.5,"y":279.5,"wires":[[],[],["584d1e4c.e8a92"]]},{"id":"584d1e4c.e8a92","type":"switch","z":"d09c60fb.1de","name":"on/off?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":404,"y":376,"wires":[[],[]]},{"id":"7658e510.91449c","type":"bigtimer","z":"d09c60fb.1de","outtopic":"","outpayload1":"","outpayload2":"","name":"Evening","lat":"47.662831","lon":"-122.128615","starttime":"1020","endtime":"1380","startoff":0,"endoff":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":false,"jul":false,"aug":false,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":164,"y":452,"wires":[[],[],["584d1e4c.e8a92"]]},{"id":"f1da952d.c63008","type":"bigtimer","z":"d09c60fb.1de","outtopic":"","outpayload1":"","outpayload2":"","name":"Morning (Weekday)","lat":"47.662831","lon":"-122.128615","starttime":"420","endtime":"660","startoff":0,"endoff":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":false,"tue":false,"wed":false,"thu":false,"fri":false,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":false,"jul":false,"aug":false,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":153,"y":344,"wires":[[],[],["584d1e4c.e8a92"]]},{"id":"98456311.36e8d","type":"join-message","z":"d09c60fb.1de","name":"Push Leak Alert","text":"ALERT: Water leak detected at home","title":"","url":"","notificationicon":"","joinConfig":"224981c8.557ace","x":650,"y":573,"wires":[[]]},{"id":"6c3ed89f.bbd348","type":"server-state-changed","z":"d09c60fb.1de","name":"All Leak Sensors","server":"2e333d69.571f22","entityidfilter":"binary_sensor.dome_leak_sensor_sensor","entityidfiltertype":"substring","haltifstate":"off","outputinitially":true,"x":458,"y":571,"wires":[["98456311.36e8d"]]}]