node-red/flows.json
[{"id":"c51f8f05.81e84","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a6f9a1ab.adc0a","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true},{"id":"b303ab88.e2e6b8","type":"join-config","z":0,"name":"","register":true},{"id":"b136d3d8.ec32","type":"bigtimer","z":"c51f8f05.81e84","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Outside Lights","comment":"","lat":"42.662831","lon":"-112.128615","starttime":"5004","endtime":"5003","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":320,"y":320,"wires":[["7f6a79f5.033038"],[],[]]},{"id":"7f6a79f5.033038","type":"switch","z":"c51f8f05.81e84","name":"on or off?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":320,"wires":[["cdff74ef.0fb5e8"],["621cd4d4.f2012c"]]},{"id":"621cd4d4.f2012c","type":"api-call-service","z":"c51f8f05.81e84","name":"Turn Off Outdoor Lights","server":"a6f9a1ab.adc0a","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.inovelli_nzw30_smart_switch_w_scene_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":730,"y":340,"wires":[[]]},{"id":"cdff74ef.0fb5e8","type":"api-call-service","z":"c51f8f05.81e84","name":"Turn On Outdoor Lights","server":"a6f9a1ab.adc0a","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.inovelli_nzw30_smart_switch_w_scene_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":730,"y":280,"wires":[[]]},{"id":"d16e75b1.233be8","type":"inject","z":"c51f8f05.81e84","name":"off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":130,"y":300,"wires":[["b136d3d8.ec32"]]},{"id":"425f0a03.5d0304","type":"inject","z":"c51f8f05.81e84","name":"on","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":130,"y":340,"wires":[["b136d3d8.ec32"]]},{"id":"6b95c0d4.ed3b","type":"server-state-changed","z":"c51f8f05.81e84","name":"Leak Sensor Triggered","server":"a6f9a1ab.adc0a","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.elexa_consumer_products_inc_dome_leak_sensor_sensor","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":340,"y":420,"wires":[["afbcc939.0dbf78"],[]]},{"id":"afbcc939.0dbf78","type":"join-message","z":"c51f8f05.81e84","name":"Alert Phone","text":"Washing machine leak detected","title":"ALERT!","url":"","notificationicon":"","joinConfig":"b303ab88.e2e6b8","x":690,"y":400,"wires":[[]]}]