node-red/flows.json
[{"id":"d09c60fb.1de","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2e333d69.571f22","type":"server","z":"","name":"Home Assistant","url":"https://59c792eb-d182-499d-aa66-405401401ec3.duckdns.org","pass":"Glad2bwill!"},{"id":"f6cdde7f.58aa3","type":"server","z":"","name":"Home Assistant","url":"https://yourdomain.duckdns.org:8123","pass":"pass"},{"id":"f68b7e6f.854be","type":"api-call-service","z":"d09c60fb.1de","name":"Bathroom Floor Heating - Turn On","server":"2e333d69.571f22","service_domain":"switch","service":"turn_on","data":"{   \"entity_id\": \"switch.zooz_unknown_type2500_id2500_switch_7\" }","mergecontext":"","x":558,"y":55,"wires":[[]]},{"id":"acd2206b.01536","type":"bigtimer","z":"d09c60fb.1de","outtopic":"","outpayload1":"","outpayload2":"","name":"Sunset","lat":"47.662831","lon":"-122.128615","starttime":"5004","endtime":"5003","startoff":"0","endoff":"0","offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":144,"y":122,"wires":[[],[],["67f96d2e.9314c4"]]},{"id":"67f96d2e.9314c4","type":"switch","z":"d09c60fb.1de","name":"on/off?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":312,"y":120,"wires":[["f68b7e6f.854be"],["4527f5a4.4dd77c"]]},{"id":"4527f5a4.4dd77c","type":"api-call-service","z":"d09c60fb.1de","name":"Bathroom Floor Heating - Turn Off","server":"2e333d69.571f22","service_domain":"switch","service":"turn_off","data":"{   \"entity_id\": \"switch.zooz_unknown_type2500_id2500_switch_7\" }","mergecontext":"","x":551,"y":149,"wires":[[]]}]